* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exp-el {
    height: 140px;
    width: 380px;
    background: #fff;
    color: black;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    padding-top: 30px;
    border-top: 8px solid red;
    color: darkblue;
}
.tt-exp {
    text-align: center;
    font-size: 40px;
}
.tt-exp span {
    font-size: 30px;
}
.para {
    text-align: center;
    padding: 15px 0 0 0;
    font-size: 28px;
}