@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    --Sarabun: 'Sarabun';
    --Montserrat: 'Montserrat';
    --Poppins: 'poppins';
    --White: #fff;
    --Black: #000;
    --Sec-Accent-red: #b12d3a;
    --hover-blue: rgb(24, 24, 119);
}
.top-navbar {
    height: 110px;
    display: flex;
    justify-content: center;
}
.data-head {
    position: absolute;
    margin: 0 50%;
    width: 1270px;
}
.flex-elementor {
    display: flex;
    align-items: center;
    height: 110px;
}
.logo-elementor {
    width: 35%;
    padding: 0 0 0 20px;
}
.logo {
    width: 180px;
    height: 70px;
}
.link-container {
    display: flex;
    align-items: center;
    width: 50%;
}
.ul-container {
    display: flex;
    align-items: center;
    list-style: none;
}
.link {
    list-style: none;
    padding: 0 10px;
    margin: 20px 0 0 0;
}
.ul-container a {
    text-decoration: none;
    font-family: var(--Sarabun) , sans-serif;
    font-size: 13.5px;
    letter-spacing: 1.8px;
    color: var(--Black);
    font-weight: 400;
}
.ul-container a:hover {
    color: var(--Sec-Accent-red);
}
.tel-button {
    padding: 10px 18px;
    background: #b12d3a;
    color: var(--White);
    text-decoration: none;
    border: none;
    transition: .3s all;
    border-radius: 2px;
    font-family: var(--Sarabun);
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.tel-button i {
    font-size: 22px;
}
.tel-button:hover {
    background: var(--hover-blue);
}
#menu-icon {
    display: none;
}
.nav {
    display: none;
}


/* Hero Section */
.hero-section {
    height: 800px;
    width: 100%;
    background: linear-gradient(rgba(15, 15, 48, 0.8), rgba(17, 17, 73, 0.9)), url(Images/pexels-pixabay-63324.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 0 40px 0;
}
.hero-data-elementor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
}
.heding-elementor {
    width: 1150px;
    position: absolute;
    margin: 0 50%;
}
.heding-elementor p , h1 {
    color: var(--White);
}
.main-head {
    font-size: 70px;
    color: var(--White);
    font-family: var(--Sarabun);
    text-align: center;
    letter-spacing: 1.5px;
}
.main-para {
    color: var(--White);
    font-family: var(--Sarabun);
    font-size: 20px;
    text-align: center;
    margin: 28px 0 0 0;
    line-height: 1.5;
    letter-spacing: .5px;
}
.hero-btn-elementor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0 0 0;
}
.hero-btn {
    padding: 10px 22px;
    background: var(--Sec-Accent-red);
    color: var(--White);
    text-decoration: none;
    font-family: var(--Sarabun);
    border: none;
    transition: .3s all;
    border-radius: 24px;
}
.hero-btn:hover {
    background: var(--hover-blue);
}
.contact-btn-elementor {
    letter-spacing: .8px;
}
.main-elementor-para2 {
    text-align: center;
    font-family: var(--Sarabun);
    line-height: 1.4;
    letter-spacing: .5px;
    font-size: 20px;
}
.services-elementor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 220px 0;
}
.s-box-elementor {
    width: 950px;
    position: absolute;
    margin: 0 50%;
    background: var(--White);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    padding: 40px 30px;
}
.srv-flex {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 100%;
}
.srv-container {
    height: 480px;
    width: 100%;
    padding: 0 8px;
}
.srv-widget-elementor {
    font-size: 75px;
    text-align: center;
}
.srv-widget {
    color: var(--Sec-Accent-red);
    margin-bottom: 25px;
}
.srv-element-head {
    text-align: center;
    font-size: 30px;
    color: #0D3F82;
    font-family: var(--Sarabun);
    letter-spacing: 1px;
    font-weight: 900;
}
.srv-element-para {
    text-align: center;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: .5px;
    font-family: var(--Poppins);
    padding: 40px 0 0 0;
}














/*****      <--  Contact Page  -->     *****/
.widgets-elementor-container {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #686963;
}
.widget-elementor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.widget-elementor a {
    text-decoration: none;
    color: var(--White);
}
.whatsapp-elementor {
    border-right: 1px solid var(--White);
    padding-right: 15px;
}